body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.questionnaire {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
}

.question {
  margin-bottom: 20px;
}

.emojis {
  font-size: 24px;
}

.emoji {
  cursor: pointer;
  margin-right: 5px;
  user-select: none;
}

.emoji.selected {
  border: 2px solid blue;
  border-radius: 50%;
}

#result {
  margin-top: 20px;
  padding: 10px;
  background-color: #e1e1e1;
  border-radius: 4px;
}

.submit-container {
  text-align: center;
  margin-top: 20px;
}
.submit-button {
  padding: 12px 25px;
  font-size: 18px;
  color: white;
  background-color: #007; /* Blue background */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3; /* Darker blue when hovered */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.language-menu select {
  padding: 5px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007; /* Blue background */
  color: white; /* White text */
  border: none; /* Remove default border */
}

/* Additional styles to enhance appearance on all browsers */
.language-menu select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 white;
}
.legend {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
}

.legend p {
    margin: 5px 0;
}

.legend span {
    font-size: 24px;
    margin-right: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; /* Adjust padding as needed */
}


